name: build_app

on: push

jobs:
  setup-docker:
    runs-on: ubuntu-latest
    env:
      CONTAINER_REGISTRY: ghcr.io
    steps: 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
  
  build-app:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Test app
      run: echo TEST
      shell: bash
    - name: Build app image
      env:
        USE_BUILDX: true
        TARGET_ARCH: ${{ env.TARGET_ARCH }}
      run: make docker_build
      shell: bash

  push-app:
    if: success() && startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/publish.yml