name: Build and test app image

on: 
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'
  workflow_call:
    inputs:
      push:
        default: false
        type: boolean
        description: publish image after build
        required: true

env:
  CONTAINER_REGISTRY: ghcr.io
  ACTOR: pressfio-bot

jobs:  
  build:
    runs-on: ubuntu-latest
    steps: 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ env.ACTOR }}
        password: ${{ secrets.BOT_SECRET }}
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Test app
      run: echo TEST
      shell: bash
    - name: Build app image
      env:
        USE_GHA_CACHE: true
        PUBLISH_AFTER_BUILD: ${{ inputs.push }}
      run: make docker_build
      shell: bash