name: deploy_rc

on:
  workflow_dispatch:
    inputs:
      namespace:
        description: 'K8S namespace for deployment'
        default: 'plendy'
        required: false
        type: string

jobs:
  deploy-rc:
    runs-on: ubuntu-latest
    env:
      CONTAINER_REGISTRY: ghcr.io
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set variables
      id: vars
      run: | 
        echo "chart_name=${{ github.event.repository.name }} | sed -e 's/\./-/' -e 's/[A-Z]/\L&/g'" >> $GITHUB_OUTPUT; \
        echo "image_repo=${{ github.repository }} | sed -e 's/[A-Z]/\L&/g'" >> $GITHUB_OUTPUT; \
        echo "image_tag="`git tag | grep builder | head -n 1 | sed -e 's/builder\///'`"" >> $GITHUB_OUTPUT;
    
    - name: Create kube config
      run: |
        mkdir -p $HOME/.kube/
        echo "${{ secrets.KUBE_CONFIG_RC }}" > $HOME/.kube/config
        chmod 600 $HOME/.kube/config
      shell: bash

    - name: Install Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.9.3

    - name: Add Plendy Helm repo
      run: helm repo add pressfio https://pressfio.github.io/helm
      shell: bash

    - name: Update Plendy Helm repo
      run: helm repo update pressfio
      shell: bash

    - name: Install chart
      working-directory: ${{ github.event.repository.name }}
      run: |
          helm upgrade \
            --install \
            --atomic \
            --timeout 1m \
            --values .pressf/k8s/values.yaml \
            --namespace ${{ inputs.namespace }} \
            --create-namespace \
            --set image.registry=${{ env.CONTAINER_REGISTRY }} \
            --set image.repo=${{ steps.vars.outputs.image_repo }} \
            --set image.tag=${{ steps.vars.outputs.image_tag }} \
            ${{ steps.vars.outputs.chart_name }} pressfio/plendy-backend
      shell: bash