name: Build Builder

on: 
  workflow_call:
    inputs:
      platform:
        description: 'Target platform'
        required: true
        type: string

env:
  CONTAINER_REGISTRY: ghcr.io

jobs:
  setup-docker:
    runs-on: ubuntu-latest
    steps: 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
  
  build-and-push-builder-image:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Build image
      env:
        BOT_SECRET: ${{ secrets.BOT_SECRET }}
        BUILDER_PLATFORM: ${{ inputs.platform }}
      working-directory: builder
      run: make build
      shell: bash
    - name: Push image
      working-directory: builder
      run: make push
      shell: bash