name: build_builder

on:
  push:
    tags:
      - 'builder/*'

jobs:
  setup-docker:
    runs-on: ubuntu-latest
    env:
      CONTAINER_REGISTRY: ghcr.io
    steps: 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
  
  build-builder:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Set variables
      id: vars
      run: | 
        echo "chart_name=${{ github.event.repository.name }} | sed -e 's/\./-/' -e 's/[A-Z]/\L&/g'" >> $GITHUB_OUTPUT; \
        echo "image_repo=${{ github.repository }} | sed -e 's/[A-Z]/\L&/g'" >> $GITHUB_OUTPUT; \
        echo "image_tag='${{ github.ref_name }} | sed -e 's/builder\///g''" >> $GITHUB_OUTPUT;
    - name: Build builder image
      env:
        BOT_SECRET: ${{ secrets.BOT_SECRET }}
        BUILDER_PLATFORM: ${{ vars.BUILDER_PLATFORM }}
        BUILDER_IMAGE_VERSION: ${{ steps.vars.outputs.image_tag }}
      working-directory: builder
      run: make build
      shell: bash
    - name: Trigger next workflow
      # run next workflow only for tags
      if: success() && startsWith(github.ref, 'refs/tags/v')
      uses: peter-evans/repository-dispatch@v2
      with:
        event-type: trigger-push-docker