name: github-ci

on:
  workflow_call:
    inputs:
      dotnet-version:
        description: 'The dotnet version to use'
        default: '6.0.x'
        required: false
        type: string
      namespace:
        description: 'K8S namespace for deployment'
        default: 'plendy'
        required: false
        type: string

env:
  CONTAINER_REGISTRY: ghcr.io

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout the code
      uses: actions/checkout@v2

    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ inputs.dotnet-version }}

    - name: Configure nuget
      run: dotnet nuget add source https://nuget.pkg.github.com/pressfio/index.json --name "pressfio" --username "pressfio-bot" --password ${{ secrets.NUGET_TOKEN }} --store-password-in-clear-text
      shell: bash

    - name: Restore project
      run: dotnet restore
      shell: bash

    - name: Build project
      run: dotnet publish -c Release -o ${{ github.event.repository.name }}
      shell: bash

    - name: Log in to the Container registry
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Extract metadata for Docker
      id: meta
      uses: docker/metadata-action@v4.0.1
      with:
        images: ${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}
        flavor: latest=false
        tags: |
          type=semver,pattern={{version}}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v3.1.1
      with:
        context: ${{ github.event.repository.name }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
    
    outputs:
      image-version: ${{ steps.meta.outputs.labels.org.opencontainers.image.version }}

  deploy-stage:
    needs: [build-and-push-docker]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set variables
      id: vars
      run: | 
        echo ::set-output name=chart_name::${{ github.event.repository.name }} | sed -e 's/\./-/' -e 's/[A-Z]/\L&/g'; \
        echo ::set-output name=image_name::${{ github.event.repository.name }} | sed -e 's/[A-Z]/\L&/g';

    - name: Echo variables
      run: |
       echo PROJECT_NAME=${{ steps.vars.outputs.project_name }}; \
    
    - name: Create kube config
      run: |
        mkdir -p $HOME/.kube/
        echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config
        chmod 600 $HOME/.kube/config
      shell: bash

    - name: Install Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.9.3

    - name: Add Plendy Helm repo
      run: helm repo add pressfio https://pressfio.github.io/helm
      shell: bash

    - name: Update Plendy Helm repo
      run: helm repo update pressfio
      shell: bash

    - name: Install chart
      working-directory: ${{ github.event.repository.name }}
      run: |
          helm upgrade \
            --install \
            --atomic \
            --timeout 1m \
            --values .plendy/values.yaml \
            --namespace ${{ inputs.namespace }} \
            --create-namespace \
            --set image.registry=${{ env.CONTAINER_REGISTRY }} \
            --set image.repo=${{ steps.vars.outputs.image_name }} \
            --set image.tag=${{ steps.vars.outputs.image-version }} \
            ${{ steps.vars.outputs.chart_name }} pressfio/plendy-backend
      shell: bash